*{
    margin: 0;
    padding: 0;
}
body{
    background: #CCC;
    justify-content: center;
    display: flex;
    align-items: center;
}

a{
    font-size: 25;
    text-decoration: none;
    color: brown;
    border: 3px solid blue;
    padding: 40px 80px;
    transition: all 0.5s;
    font-family: Tahoma, sans-serif;
}

a:hover {
    border: 4px solid #047952;
    color: #047952;
    animation: caixa 0.5s linear 1;
}

@keyframes caixa{
    0%{
        top: 0px; background: red; width: 100px;
    }
   20% {
        bottom: 10px; color: aqua;
    }